# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserdatad/
DerivedData/
*.xcuserstate

# macOS metadata
.DS_Store

# Logs
*.log

# Editor folders
.vscode/
.idea/

# Binaries and output
dist/
*.o
*.d
*.exe
*.out

# Misc
*.swp
*.swo

.DS_Store
/.build

/Packages

